<% include partials/header %>

<% include partials/navbar %>

<link rel="stylesheet" href="/styles/comment.css">

<div id="content">

	<h1 id="title">Comments on <%= film.name %></h1>

	<% if (currentUser){ %>

		<form action="/films/<%=film._id%>/comments" method="POST">
			<textarea id="input" type="text" name="comment[text]"></textarea>
			<button id="submit">Submit</button>
		</form>

	<% } %>

	<% film.comments.forEach(function(comment){ %>
		
		<h4 id="comment"><strong><%= comment.author.username %></strong> - <%= comment.text %>

		<% if (currentUser && comment.author.id.equals(currentUser._id)){ %>

		<a href="/films/<%=film._id%>/comments/<%=comment._id%>/edit"><button class="formButton">Edit</button></a>
		<form id="deleteform" action="/films/<%=film._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
			<button class="formButton">Delete</button>
		</form></h4>

		<% } %>

	<% }) %>

</div>

<% include partials/footer %>