<% include partials/header %>

<% include partials/navbar %>

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">

<link rel="stylesheet" href="../styles/landing.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div id="teaser">

	<img id="teaser-img" src="film_data/moustache-teaser.png">

	<h1 id="teaser-title1">Moustaches and</h1>
	<h1 id="teaser-title2">Murder</h1>

	<p id="teaser-info">When a stone cold cop loses his partner, he finds a new one more like him than he ever thought possible</p>

	<a href="films/5c63535fc54b3967081af60e"><i id="teaser-button" class="fas fa-play"></i></a>

</div>

<div id="titles">

	<div class="wrapper">

		<h2 class="selection" id="popular">Popular on Patflix</h2>

		<% films.forEach(function(film){ %>
			<span class="wrap">
				<a href="/films/<%= film._id %>"><img class="previewImage" src="<%=film.img%>">
				<p class="previewText"><%=film.name%></p>
				<i class="fas fa-play"></i></a>
			</span>
		<% }) %>

	</div>

	<div class="wrapper">

		<h2 class="selection" id="sitcom">Sitcom Parodies</h2>

		<% films.forEach(function(film){ %>

			<% if (film.genre == "sitcom"){ %>
				<span class="wrap">
					<a href="/films/<%= film._id %>"><img class="previewImage" src="<%=film.img%>"></a>
					<p class="previewText"><%=film.name%></p>
					<i class="fas fa-play"></i>
				</span>
			<% } %>

		<% }) %>

	</div>

	<div class="wrapper">

		<h2 class="selection" id="noir">Noir</h2>

		<% films.forEach(function(film){ %>

			<% if (film.genre == "noir"){ %>
				<span class="wrap">
					<a href="/films/<%= film._id %>"><img class="previewImage" src="<%=film.img%>"></a>
					<p class="previewText"><%=film.name%></p>
					<i class="fas fa-play"></i>
				</span>
			<% } %>

		<% }) %>

	</div>

	<div class="wrapper">

		<h2 class="selection" id="animated">Animated</h2>

		<% films.forEach(function(film){ %>

			<% if (film.genre == "animated"){ %>
				<span class="wrap">
					<a href="/films/<%= film._id %>"><img class="previewImage" src="<%=film.img%>"></a>
					<p class="previewText"><%=film.name%></p>
					<i class="fas fa-play"></i>
				</span>
			<% } %>

		<% }) %>

	</div>

</div>

<% include partials/footer %>